:root{
    --guide-font: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --link-color: #a825c2;
    --background-color: #fff;
    --dark-color: #18181d;
    --header-color: #fff;
    --font-color: black;
    --sidebar-color: #fff;
    --card-color: #fff;
    --blockquote-color: #dadde1;
    --paginator-link-color: #dadde1;
    --grey-color: #eeebeb;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: News Cycle;
    background-color: var(--background-color);
    color: var(--font-color);
}

body::-webkit-scrollbar { 
    width: 0;
} 

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: lighter;
}

::selection{
    color: var(--background-color);
    background: var(--dark-color);
}

.header{
    background-color: #18181d;
    width: calc(100% - 10px);
    padding: 5px;
    overflow: auto;
}

.header-flex{
    display: flex;
}

.header-links{
    margin-left: 10px;
}

.header-links a{
    color: white;
    text-decoration: none;
    margin-top: 11px;
    display: inline-block;
}

.coverpage{
    padding: 50px;
    width: calc(100% - 100px);
    color: #051C2C;
}

@keyframes slide-up{
    0%{
        margin-top: 40px;
        opacity: 0;
    }
    100%{
        margin-top: 0;
        opacity: 1;
    }
}

.coverpage h1{
    font-weight: bolder;
    font-family: var(--guide-font);
    font-size: 70px;
    width: 80%;
    line-height: 1;
    animation: slide-up;
    animation-duration: 2s;
}

.c-des{
    font-weight: bolder;
    opacity: .3;
    font-family: var(--guide-font);
    font-size: 25px;
    margin-top: 15px;
    display: inline-block;
}

.coverpage input{
    padding: 10px;
    width: calc(100% - 20px);
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(216, 216, 216);
    border-radius: 3px;
    margin-top: 30px;
    transition: .2s;
}

.coverpage input:focus{
    border-bottom-color: red;
}

.tag-badge{
    display: inline-block;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #424549;
    cursor: pointer;
}

.tag-badge{
    margin-left: 5px;
}

.tag-badge span{
    display: inline-block;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0 5px;
    color: white;
    background-color: #18181d;
}

.tag-badge font{
    display: inline-block;
    color: white;
    padding: 0 5px;
}

.home-guide-content{
    padding: 50px;
    padding-top: 0;
    margin-top: -20px;
    width: calc(100% - 100px);
}

@media (min-width: 1038px){
    .row{
        display: flex;
        flex-wrap: nowrap;
    }

    .guide{
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.guide{
    transition: .2s;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.guide:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.guide img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.guide h1{
    margin-top: -15px;
    opacity: 0.8;
    font-weight: lighter;
}

.guide p{
    margin: 0;
    line-height: 1.3;
    opacity: .7;
}

.guide a{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

.guide a font{
    margin-left: 6px;
    transition: .2s;
}

.guide a:hover font{
    margin-left: 20px;
}

.guidearea{
    padding: 35px;
    padding-top: 90px;
    font-family: var(--guide-font);
}

.guidearea h1, .guidearea h2{
    font-weight: bolder;
}

.guidearea img{
    border-radius: 5px;
    max-width: 100%;
}

.guidearea blockquote{
    margin: 0;
    border-left: 4px solid rgb(209, 209, 209);
    padding-left: 10px;
}

.guidearea pre{
    background-color: black;
    color: white!important;
    padding: 20px;
    width: calc(100% - 40px);
    border-radius: 5px;
    white-space: pre-wrap;
}

.nav svg{
    width: 1.8em;
    cursor: pointer;
}

.nav{
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
}

.sidebar{
    display: none;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    margin-top: 60px;
    white-space: nowrap;
    border-right: 1px solid rgba(0,0,0,.125);
    transition: .2s;
    width: 250px;
}

.guidearea{
    width: calc(100% - 70px);
    transition: .2s;
    position: absolute;
    right: 0;
}

.open-sidebar .sidebar{
    display: block!important;
}

.open-sidebar .guidearea{
    width: calc(100% - 320px)!important;
}

#main-sidebar{
    padding: 30px;
}

#sub-sidebar{
    padding: 30px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

#sub-sidebar a, #main-sidebar a{
    cursor: pointer;
    transition: .2s;
}

#main-sidebar a{
    color: black;
    text-decoration: none;
}

#main-sidebar h1{
    font-size: 30px;
    margin: 0;
    margin-top: -5px;
    margin-bottom: 5px;
    font-weight: bolder;
    font-family: var(--guide-font);
}

.guidearea .title{
    font-size: 40px;
}

.yt-frame{
    display: block;
    width: 640px;
    height: 360px;
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hljs-section,.hljs-title {
	color: #800;
	font-weight: 700;
}

.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable {
	color: #bc6060;
}

.hljs-literal {
	color: #78a960;
}

.hljs-addition ,.hljs-bullet,.hljs-code {
	color: #397300;
}

.hljs-meta {
	color: #1f7199;
}

.hljs-meta-string {
	color: #4d99bf;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong, .hljs-subst, .hljs-built_in, .hljs-keyword {
	color: #e96900;
}

.hljs-string, .hljs-number{
    color: #42b983;
}

.hljs-comment, .hljs-tag {
	color: grey;
}

.hljs-name{
    color: #e06c75;
}

.hljs-attribute, .hljs-attr{
    color: #d19a66;
}

.hljs-doctag, .hljs-meta-keyword, .hljs-selector-tag {
	font-weight: 700;
}

.hljs-deletion, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-template-tag, .hljs-type {
	color: #800;
}

.page-mover{
    margin-top: 10px;
}

.page-mover a{
    background-color: #18181d;
    color: white;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    width: calc(50% - 40px);
    padding: 20px 0;
    font-weight: bolder;
    font-size: 22.5px;
}

.page-mover .prev{
    float: left;
    padding-left: 20px;
}

.page-mover svg{
    font-size: 2em;
    width: .55em;
}

.page-mover .pi{
    opacity: .7;
    display: block;
    font-weight: lighter;
    font-size: 20px;
}

.page-mover .next{
    float: right;
    padding-right: 20px;
    text-align: right;
}
