:root{
    --guide-font: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --link-color: #a825c2;
    --background-color: #fff;
    --dark-color: #18181d;
    --header-color: #fff;
    --font-color: black;
    --sidebar-color: #fff;
    --card-color: #fff;
    --blockquote-color: #dadde1;
}

*, :after, :before{
    box-sizing: border-box
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: News Cycle;
    background-color: var(--background-color);
    color: var(--font-color);
}

body::-webkit-scrollbar { 
    width: 0;
} 

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: lighter;
}

::selection{
    color: var(--background-color);
    background: var(--dark-color);
}

@keyframes slide-up{
    0%{
        margin-top: 40px;
        opacity: 0;
    }
    100%{
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes card-slide-up{
    0%{
        margin-top: 40px;
        opacity: 0;
    }
    100%{
        margin-top: 10px;
        opacity: 1;
    }
}

.coverpage-content h1, .coverpage-content a, .coverpage-content font{
    animation-name: slide-up;
    animation-duration: 2s;
}

.card{
    animation-name: card-slide-up;
    animation-duration: 2s;
}

.load-text{
    font-weight: lighter;
    text-align: center;
    margin-top: 40vh;
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: .25rem 1rem;
    z-index: 5;
    overflow-y: auto;
    background-color: var(--header-color);
    box-shadow: 0 .2px 7px #18181d;
}

.dup-header{
    height: 4.5rem;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.header::-webkit-scrollbar { 
    width: 0;
} 

@media (max-width: 480px){
    .header{
        padding-bottom: 0;
    }
}

.header-branding{
    display: flex;
}

.header-branding font{
    margin-top: 15px;
    font-size: 1.3rem;
}

.coverpage{
    background-color: #282c34;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    padding: 60px 30px;
    padding-bottom: 80px;
}

.coverpage h2{
    font-weight: bolder;
    font-size: 3.2rem;
    margin: 0;
    padding: 0;
}

.coverpage p{
    font-size: 1.5rem;
    margin: 0;
}

.coverpage-content{
    text-align: center;
    color: white;
}

.display-area{
    padding: 30px;
    padding-bottom: 40px;
}

.row-handler{
    padding: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.title{
    font-size: 2rem;
    font-weight: bolder;
    opacity: 0.8;
    margin-top: 30px;
    font-family: var(--guide-font);
}

.card{
    border-radius: 3px;
    background-color: var(--card-color);
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    font-family: var(--guide-font);
    margin-top: 10px;
    margin-left: 10px;
}

.card h3{
    font-size: 1.75rem;
}

.muted{
    opacity: 0.7;
}

.card-holder{
    width: 100%;
}

@media (min-width: 800px){
    .card-holder{
        flex: 0 0 22.5%;
        max-width: 22.5%;
    }

    .card{
        width: 100%;
    }
}

.card-img{
    width: 100%;
    padding: 30px 0;
}

.card h3, .card p{
    margin: 0;
}

.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    outline: none;
    user-select: none;
    padding: .375rem .75rem;
    border: none;
    border-radius: .25rem;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.coverpage input{
    outline: none;
    margin-top: 20px;
    padding: .9rem;
    border: none;
    border-radius: 3px;
    width: 80%;
}

.coverpage-content a{
    outline: none;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    padding: .8rem 2rem;
    transition: 0.5s;
    position: relative;
    top: 20px;
}

.coverpage-content a:hover{
    color: #282c34;
    background-color: white;
}

.guide-page pre{
    background-color: #18181d;
    width: 90%;
    color: #f2f4f7;
    padding: 1rem;
    border-radius: 3px;
    white-space: pre-wrap;
}

.guide-page{
    font-family: var(--guide-font);
}

.guide-page a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--link-color);
}

.guide-page h1, .guide-page h2{
    font-weight: bolder;
}

table, th, td, tr{
    border: none;
    border-spacing: 0;
}

th, td{
    padding: 10px;
}

th{
    background-color: var(--link-color);
    color: white;
}

tr{
    background-color: #f9f9f9;
    color: black;
}

tr:nth-child(2n){
    background-color: #f4f4f4!important;
}

.guide-page h2{
    margin-top: 20px;
}

blockquote{
    transition: 0.4s;
    border-left: 6px solid var(--blockquote-color);
    margin: 0 0 1rem;
    padding-left: 10px;
}

#nav-btn{
    color: var(--theme-color);
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    cursor: pointer;
}

#doc-sidebar{
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 0;
    width: 270px;
    height: 100%;
    padding-left: 40px;
    overflow: auto;
    background: var(--sidebar-color);
    z-index: 4;
    transition: 0.3s;
    display: none;
    border-right: 1px solid  rgba(0, 0, 0, 0.125);
}

#doc-section{
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    padding: 40px;
    transition: 0.3s;
}

#doc-section img{
    max-width: 90%;
    margin: 20px 0;
    border-radius: 3px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.header-content{
    display: flex;
}

.header-content > a{
    text-decoration: none;
    margin-top: 23px;
    padding-left: 20px;
    font-family: var(--guide-font);
    color: var(--dark-color);
}

.switch{
    position: absolute;
    right: 20px;
    top: 30%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.sidebar-links a{
    text-decoration: none;
    color: var(--font-color);
    font-family: var(--guide-font);
    font-weight: bolder;
    cursor: pointer;
}

.sidebar-links{
    margin-top: 80px;
}

.small-sidebar-link{
    padding-left: 20px;
    font-weight: lighter!important;
}

.large-sidebar-link{
    display: inline-block;
    margin-top: 10px;
}

.small-sidebar-link:hover{
    color: var(--link-color);
}

.footer-info-text{
    width: 100%;
}

.footer-info-text a{
    color: #FF585D;
    font-size: 30px;
    font-family: var(--guide-font);
    font-weight: bolder;
    position: relative;
    top: 30px;
    left: 60vw;
    text-decoration: none;
}

@media (max-width: 1000px){
    .footer-info-text a{
        display: none;
    }
}

@media (max-width: 500px){
    .header-branding font{
        display: none;
    }

    .header-content a {
        padding-left: 10px;
    }
}

.card-links{
    float: bottom;
}

.hljs-section,.hljs-title {
	color: #800;
	font-weight: 700;
}

.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable {
	color: #bc6060;
}

.hljs-literal {
	color: #78a960;
}

.hljs-addition ,.hljs-bullet,.hljs-code {
	color: #397300;
}

.hljs-meta {
	color: #1f7199;
}

.hljs-meta-string {
	color: #4d99bf;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong, .hljs-subst, .hljs-built_in, .hljs-keyword {
	color: #e96900;
}

.hljs-string, .hljs-number{
    color: #42b983;
}

.hljs-comment, .hljs-tag {
	color: grey;
}

.hljs-name{
    color: #e06c75;
}

.hljs-attribute, .hljs-attr{
    color: #d19a66;
}

.hljs-doctag, .hljs-meta-keyword, .hljs-selector-tag {
	font-weight: 700;
}

.hljs-deletion, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-template-tag, .hljs-type {
	color: #800;
}

.clear-history-btn{
    top: 30px!important;
}

.edit-btn{
    position: relative;
    top: 20px;
    color: var(--dark-color)!important;
    opacity: 0.9;
    font-weight: bolder!important;
}

.card .muted{
    font-size: 12px;
}